@import "tailwindcss";

:root{
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: auto;
}
/* IMPORTANT: Do not add any CSS reset rules to this file. */